<?xml version="1.0"?>
<configuration>
	<startup>
		<supportedRuntime version="v2.0.50727"/>
	</startup>

	<appSettings>
		<!--数据表路径-->
		<add key="ExcelPath" value="./../../plan/数值文档/数据表格"/>

		<!--服务器-->
		<add key="职业表.xlsx" value="./data/JobTemple.txt"/>
		<add key="角色等级表.xlsx" value="./data/RoleLevelTemple.txt"/>
		<add key="技能表.xlsx" value="./data/SkillTemple.txt"/>
		<add key="buff表.xlsx" value="./data/BuffTemple.txt"/>
		<add key="物品表.xlsx" value="./data/ItemTemple.txt"/>
		<add key="单位表.xlsx" value="./data/UnitTemple.txt"/>
		<add key="地图表.xlsx" value="./data/MapTemple.txt"/>
		<add key="地图传送点表.xlsx" value="./data/MapTeleportTemple.txt"/>
		<add key="地图关系表.xlsx" value="./data/MapRelationshipTemple.txt"/>
		<add key="地图功能表.xlsx" value="./data/MapFunctionTemple.txt"/>
		<add key="洗练属性表.xlsx" value="./data/SuccinctAttributeTemple.txt"/>
		<add key="洗练属性消耗表.xlsx" value="./data/SuccinctAttributeConsumptionTemple.txt"/>
		<add key="开光表.xlsx" value="./data/SwitchTemple.txt"/>
		<add key="合成表.xlsx" value="./data/SynthesisTemple.txt"/>
		<add key="任务表.xlsx" value="./data/TaskTemple.txt"/>
		<add key="任务表-日常.xlsx" value="./data/TaskDailyTemple.txt"/>
		<add key="任务表-周常.xlsx" value="./data/TaskWeeklyTemple.txt"/>
		<add key="官职数据.xlsx" value="./data/OfficeTemple.txt"/>
		<add key="GM命令表.xlsx" value="./data/GMCommandTemple.txt"/>
		<add key="boss世界.xlsx" value="./data/BossListTemple.txt"/>
		<add key="npc传送表.xlsx" value="./data/NPCTransferTemple.txt"/>
		<add key="转生表.xlsx" value="./data/ReincarnationTemple.txt"/>
		<add key="护卫.xlsx" value="./data/GuardTemple.txt"/>
 		<add key="帮会等级表.xlsx" value="./data/GuildTemple.txt"/>
		<add key="杂数据.xlsx" value="./data/SettingTemple.txt"/>
		<add key="帮会权限.xlsx" value="./data/GuildPowerTemple.txt"/>
		<!--<add key="新强化表.xlsx" value="./data/ForgeTemple.txt"/>-->
		<add key="功能开启表.xlsx" value="./data/FunctionOpenTemple.txt"/>
		<add key="在线奖励表.xlsx" value="./data/OnlineRewardTemple.txt"/>
		<add key="签到奖励表.xlsx" value="./data/SignRewardTemple.txt"/>
 		<add key="活跃值奖励表.xlsx" value="./data/ActiveRewardTemple.txt"/>
		<add key="活跃度获得表.xlsx" value="./data/ActiveGetTemple.txt"/>
		<add key="成就表.xlsx" value="./data/AchievementTemple.txt"/>
		<add key="成就点奖励表.xlsx" value="./data/AchievementAwardTemple.txt"/>
		<add key="称号表.xlsx" value="./data/TitleTemple.txt"/>
		<add key="沙巴克奖励发放表.xlsx" value="./data/ShaChengAwardTemple.txt"/>
		<add key="翅膀合成表.xlsx" value="./data/WingComposeTemple.txt"/>
		<add key="仓库开格表.xlsx" value="./data/StorageBuyGridTemple.txt"/>
		<add key="商城.xlsx" value="./data/MallTemple.txt"/>
		<add key="强化.xlsx" value="./data/StrengthenTemple.txt"/>
		<add key="注灵.xlsx" value="./data/ZhuLingTemple.txt"/>
		<add key="神炉.xlsx" value="./data/ExpendTemple.txt"/>
		<add key="官阶表.xlsx" value="./data/GuanJieTemple.txt"/>
		<add key="星宿表.xlsx" value="./data/XingXiuTemple.txt"/>
		<add key="角色内功表.xlsx" value="./data/NeiGongTemple.txt"/>
		<add key="血祭等级表.xlsx" value="./data/BloodSacrificeLevelTemple.txt"/>
		<add key="血祭激活表.xlsx" value="./data/BloodSacrificeActiveTemple.txt"/>
		<add key="积分兑换表.xlsx" value="./data/TreasureExchangeTemple.txt"/>
		<add key="套装表.xlsx" value="./data/SuitTemple.txt"/>
		<add key="vip.xlsx" value="./data/VIPTemple.txt"/>
		<add key="boss精英.xlsx" value="./data/BossEliteTemple.txt"/>
		<add key="boss个人.xlsx" value="./data/BossPersonalTemple.txt"/>
		<add key="七日奖励表.xlsx" value="./data/SevenDayTemple.txt"/>
		<add key="开服活动-竞技奖励.xlsx" value="./data/TargetRewardTemple.txt"/>
		<add key="开服活动-排名奖励.xlsx" value="./data/TargetRankRewardTemple.txt"/>
		<add key="开服特惠礼包.xlsx" value="./data/PreferentialTemple.txt"/>
		<add key="活动列表.xlsx" value="./data/ActivityTemple.txt"/>
		<add key="投资.xlsx" value="./data/InvestmentTemple.txt"/>
		<add key="boss传送表.xlsx" value="./data/BossTransferTemple.txt"/>
		<add key="充值奖励.xlsx" value="./data/ChargeRewardTemple.txt"/>
		<add key="开服活动-经验炼制.xlsx" value="./data/RefineExpTemple.txt"/>
		<add key="开服活动-全民BOSS.xlsx" value="./data/PopularBossTemple.txt"/>
		<add key="合服活动表.xlsx" value="./data/MergeServeActivityTemple.txt"/>
		<add key="合服活动-神秘商店.xlsx" value="./data/MysteryShopTemple.txt"/>
		<add key="合服活动-充值有礼.xlsx" value="./data/RechargeCourtesyTemple.txt"/>
		<add key="合服活动-限时抢购.xlsx" value="./data/FlashSaleTemple.txt"/>
		<add key="盲测活动-升级奖励表.xlsx" value="./data/TestActivityLevelUpTemple.txt"/>
		<add key="庆典活动-收集字帖.xlsx" value="./data/TestActivityCollectTemple.txt"/>
		<add key="神炉获得途径.xlsx" value="./data/ExpendGetTemple.txt"/>
		<add key="图腾.xlsx" value="./data/TotemTemple.txt"/>
		<add key="图腾回收表.xlsx" value="./data/TotemRecycleTemple.txt"/>
		<add key="图腾buff表.xlsx" value="./data/TotemBuffTemple.txt"/>
		<add key="庆典活动-聚宝盆.xlsx" value="./data/CornucopiaTemple.txt"/>
		<add key="特权卡.xlsx" value="./data/PrivilegeCardTemple.txt"/>
		<add key="挂机送元宝兑换表.xlsx" value="./data/AutoFightActivityYBTemple.txt"/>
		<add key="庆典活动表.xlsx" value="./data/HolidayActivityTemple.txt"/>
		<add key="庆典活动-传奇大礼.xlsx" value="./data/HolidayChuanQiDaLiTemple.txt"/>
		<add key="庆典活动-神秘商店.xlsx" value="./data/HolidayMysteryShopTemple.txt"/>
		<add key="庆典活动-充值有礼.xlsx" value="./data/HolidayRechargeCourtesyTemple.txt"/>
		<add key="珍宝收集.xlsx" value="./data/RoleCollectionTemple.txt"/>
		<add key="平台表.xlsx" value="./data/PlatformTemple.txt"/>
		<add key="庆典活动-全民探宝.xlsx" value="./data/HolidayTreasureTemple.txt"/>
		<add key="平台-360特权.xlsx" value="./data/PlatformPrivilegeTemple.txt"/>
		<add key="庆典活动-在线奖励表.xlsx" value="./data/HolidayOnlineTemple.txt"/>
		<add key="开服活动-充值奖励.xlsx" value="./data/OneMoneyRechargeTemple.txt"/>

		<!--客户端-->
		<add key="随机姓.xlsx" value="./data/FamilyNameTemple.txt"/>
		<add key="随机名.xlsx" value="./data/FirstNameTemple.txt"/>
		<add key="翻译.xlsx" value="./data/LanguageTemple.txt"/>
		<add key="屏蔽字.xlsx" value="./data/ShieldedWordsTemple.txt"/>
		<add key="快捷栏表.xlsx" value="./data/ShortcutBarTemple.txt"/>
		<add key="快捷键表.xlsx" value="./data/ShortcutKeyTemple.txt"/>
		<add key="表情表.xlsx" value="./data/FaceTemple.txt"/>
		<add key="窗口表.xlsx" value="./data/DialogsTemple.txt"/>
		<add key="自动使用物品表.xlsx" value="./data/AutoUseItemTemple.txt"/>
		<add key="简单掉落显示表.xlsx" value="./data/SimpleDropTemple.txt"/>
		<add key="引导表.xlsx" value="./data/GuideTemple.txt"/>
		<add key="引导精灵表.xlsx" value="./data/GuideSpriteTemple.txt"/>
		<add key="公告表.xlsx" value="./data/NoticeTemple.txt"/>
		<add key="新手宝典.xlsx" value="./data/NoviceBookTemple.txt"/>
		<add key="NPC合成分类表.xlsx" value="./data/NPCSyntheticSubTemple.txt"/>
		<add key="随机喊话表.xlsx" value="./data/RandomChatTemple.txt"/>
		<add key="一键出售表.xlsx" value="./data/QuickSellTemple.txt"/>
		<add key="任务指引.xlsx" value="./data/TaskGuideTemple.txt"/>
		<add key="成就类型表.xlsx" value="./data/AchievementTypeTemple.txt"/>
		<add key="挖宝显示.xlsx" value="./data/TreasureDisplayTemple.txt"/>
		<add key="物品回收展示表.xlsx" value="./data/ItemRecoverTemple.txt"/>
		<add key="vip展示表.xlsx" value="./data/VIPDisplayTemple.txt"/>
		<add key="未知暗殿提示.xlsx" value="./data/WZADNoticeTemple.txt"/>
		<add key="合服活动-沙城争霸.xlsx" value="./data/CityWarfareTemple.txt"/>
		<add key="开服活动-首冲特惠.xlsx" value="./data/FirstRechargeTemple.txt"/>
		<add key="开服活动-推广员奖励.xlsx" value="./data/XiaoHaoRebateTemple.txt"/>
		<add key="开服活动-推广员小号奖励.xlsx" value="./data/XiaoHaoRewardTemple.txt"/>
		<add key="开服活动表.xlsx" value="./data/OpenActivityTemple.txt"/>
	</appSettings>
</configuration>
