<?xml version="1.0"?>
<configuration>
	<startup>
		<supportedRuntime version="v2.0.50727"/>
	</startup>

	<appSettings>
		<!--数据表路径-->
		<add key="ExcelPath" value="./table"/>

		<!--客户端-->
		<add key="item.xlsx" value="./data/ItemTemple.txt"/>		
		<add key="mob.xlsx" value="./data/MobTemple.txt"/>
	</appSettings>
</configuration>
